{{ define "main" }}

<section class=" bg-bluecc pt-16 items-bottom">
    <div class="hero container pt-4 flex content-end items-end justify-between"> 
      <div class="content-left self-center pb-12">
        <h1 class="text-big text-white mx-auto mr-8 font-bold" style="width: 530px;">Une communauté forte de designers africains pour booster ta carrière</h1>
        <p class="mt-4 text-xm"><span class="scroll-animation">😎 </span>Vas-y défile</p>
      </div>
      <div class="content-right relative">
        <svg class="marker-event-hero-display absolute -ml-12" style="bottom:0px;" width="542" height="131" viewBox="0 0 542 131" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 130.09L39.0598 88.4464C91.9906 32.0146 165.913 2.48871e-06 243.283 6.87553e-06L542 2.38124e-05V130.09H0Z" fill="#FA744F"/>
        </svg>
        <div class="event-hero-display"  style="width: 420px; z-index:25;">
          <img class="text-right -mb-12" style="z-index:20;" src="/images/event-hero-display.png" alt="">
            
        </div>

      </div>
      
    </div>
  </section>

  <section class="intro py-16 bg-orange-100">
    <div class="container">
      <div class="intro-content mx-auto">
        <p class="mt-4 text-3xl">Notre objectif avec le creative circle est de blah blah. Car il faut que lo monde m=blah blah francophone et africain afin de blah blmah et de bloh bloh</p>
        <p class="mt-12"><span class="font-bold">Ralph, Naël et Olafèmi</span> du Creative Circle</p>
      </div>
    </div>

  </section>

  <section class="py-16">
    <div class="container">
      <h1 class="text-3xl font-bold">Les Creative Circle Talks</h1>
      <p class="mt-4 max-w-6xl text-xl">Le Creative Circle est un groupe de passionnés de design, à travers plusieurs pays d'Afrique</p>
      
      <div class="mt-20">
        <p class="text-xl font-bold">Talks récents</p>
        <div class="recent-talks flex mt-10 items-start">
          
          {{ range first 3 (where .Site.RegularPages "Type" "talks") }}
          {{ .Render "summary"}}
          {{ end }}

          
          
         
        </div>
      </div>
      <a href="#" class="flex items-center recent-talks-cta mt-8">
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 16C9.77498 15.9996 11.4988 15.4054 12.897 14.312L17.293 18.708L18.707 17.294L14.311 12.898C15.405 11.4997 15.9996 9.77544 16 8C16 3.589 12.411 0 8 0C3.589 0 0 3.589 0 8C0 12.411 3.589 16 8 16ZM8 2C11.309 2 14 4.691 14 8C14 11.309 11.309 14 8 14C4.691 14 2 11.309 2 8C2 4.691 4.691 2 8 2Z" fill="#17103C"/>
          <path d="M9.41183 6.58609C9.79083 6.96609 9.99983 7.46809 9.99983 8.00009H11.9998C12.0007 7.47451 11.8974 6.95398 11.6959 6.46857C11.4944 5.98316 11.1987 5.54251 10.8258 5.17209C9.31183 3.66009 6.68683 3.66009 5.17383 5.17209L6.58583 6.58809C7.34583 5.83009 8.65583 5.83209 9.41183 6.58609Z" fill="#17103C"/>
        </svg>
        <p class="font-bold ml-2">Voir tous les talks</p>
      </a>
     

    </div>
  </section>

  <section class="social-proof py-16 bg-orange-100">
    <div class="container">
      <div class="social-proof-content mx-auto">
        <p class="mt-4 text-big">“Le Creative Circle me permet de faire ci ça et ça. J’ai appris beaucoup de ça et ceci aussi”</p>
        <p class="text-xl mt-12">
          <span class="font-bold inline-block relative">Johna Dossou 
            <svg class="absolute author-highlight" width="177" height="13" viewBox="0 0 177 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M176.83 1.88477H15.1879L6.64046 10.0211V1.88477H0" stroke="#17103C" stroke-width="2.1697"/>
            </svg>
          </span>
           
          <span class="text-xm">| Designer at Google Africa </span></p>
      </div>
    </div>

  </section>

  <section class="py-16">
    <div class="container">
      <h1 class="text-3xl font-bold">Le groupe slack</h1>
      <p class="text-xl mt-4 max-w-6xl">Dans le groupe slack, nous partageons au quotidien nos expériences, des opportunités, des conseils.</p>
      <div class="mt-12 flex justify-between">
        <div class="slack-benefits">
          <div class="slack-benefit-item mb-8">
            <p class="text-xl font-bold">Pose des questions</p>
            <p class="mt-2">Pose tes préoccupations ou prend facilement l'avis d'autres designers sur des projets sur lesquels tu bosses.</p>
          </div>
          <div class="slack-benefit-item mb-8">
            <p class="text-xl font-bold">Découvre des opportunités</p>
            <p class="mt-2">Pose tes préoccupations ou prend facilement l'avis d'autres designers sur des projets sur lesquels tu bosses.</p>
          </div>
          <div class="slack-benefit-item mb-8">
            <p class="text-xl font-bold">Maintiens-toi informé</p>
            <p class="mt-2">Participe à des discussions croustillantes sur l'actualité dans le secteur : les nouveautés, les challenges futurs, etc.</p>
          </div>
        </div>
        <div class="slack-illustration mt-16">
            <img class="" style="max-width: 1480px;"  src="/images/slack-preview.png" alt="SLack Group Preview">
        </div>
      </div>
      

    </div>
  </section>

  {{ partial "cta.html" . }}







<style>
  body {
    font-family: "Airbnb Cereal App"
  }

  .intro {
    background-color: #ECECEC;
    min-height: 480px;
  }
  .intro-content {
    max-width: 750px;

  }


  .social-proof {
    background-color: #CBE4FF;
    min-height: 420px;
  }
  .social-proof-content {
    max-width: 100%;
  }

  .hero {
    min-height: 500px;
  }
  .event-hero-display {
    box-shadow: 0px 23px 38px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
  }

  .talk-item:not(:first-child) { 
    border-left: #BDBDBD solid 1px;
    padding-left: 30px;
  }

  .talk-item {
    max-width: 340px;
  }

  .slack-benefit-item {
    max-width:420px ;
  }
  .main-cta-content {
    max-width:420px ;
  }
  .slack-illustration {
    width: 550px;
    height: 500px;
  }

  .main-cta-benefit-item {
    position: relative;
    font-size: 20px;
    padding: 5px ;
    padding-left: 26px;


  }
  .main-cta-benefit-item::before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("/images/bullet-checkmark-orange.svg");
    position: absolute;
    top:10px;
    left: 0px;
  }

  .money-highlighter {
    position: relative;
    display: inline-block;
  }

  .money-highlighter::after {
    content: "";
    width: 110%;
    height: 8px;
    left: -5%;
    bottom: -5px;
    position: absolute;
    border: solid 4px #FA744F;
    border-top: solid 0px #FA744F;


  }

  .cta-highlight {
    bottom: -1310%;
    left: -150%;
}

  .social-proof .author-highlight {
    width: 100%;
  }

  


  

</style>

{{ end }}