<section class="main-cta py-16 bg-bluecc overflow-hidden">
    <div class="container">
      <div class="content flex items-center justify-between">
        <div class="main-cta-content">
          <h1 class="text-big font-bold">Rejoins le circle  aujourd’hui</h1>
          <p class="text-xl mt-4 max-w-6xl font-bold">Et profite de...</p>
          <ul class="main-cta-benefit mt-2">
            <li class="main-cta-benefit-item">Participation exclusive au talk</li>
            <li class="main-cta-benefit-item">Accès au Groupe slack</li>
            <li class="main-cta-benefit-item">Offres d’emplois chaque semaine</li>
          </ul>
          <p class="text-xl font-bold mt-4 max-w-6xl">à <span class="money-highlighter">0 FCFA</span> </p>
          <p class="text-3xm mt-12">*Nous travaillons sur une offre premium pour offrir encore plus de valeur. 
            <a href="" class="underline font-bold">Serais-tu interessé par payer plus pour booster ta carrière?</a> 
          </p>
          
        </div>
    
        <div class="main-cta-button relative">
          <a href="" class="text-2xl font-bold bg-orangecc py-6 px-12 rounded">Rejoins-nous</a>
          <div class="cta-highlight absolute">
            <svg width="1206" height="1207" viewBox="0 0 1206 1207" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.8">
              <circle opacity="0.05" cx="602.876" cy="603.598" r="602.767" fill="#AD534A"/>
              <circle opacity="0.05" cx="602.978" cy="603.604" r="417.906" fill="#AD534A"/>
              <circle opacity="0.05" cx="602.98" cy="603.605" r="287.717" fill="#AD534A"/>
              <ellipse opacity="0.05" cx="603" cy="603.5" rx="196" ry="195.5" fill="#AD534A"/>
              <circle opacity="0.05" cx="602.979" cy="603.604" r="115.868" fill="#AD534A"/>
              </g>
            </svg>
              
          </div>
        </div>
      </div>
      
    </div>

  </section>

  <style>
    .main-cta-content {
        max-width:420px ;
      }
      .slack-illustration {
        width: 550px;
        height: 500px;
      }
    
      .main-cta-benefit-item {
        position: relative;
        font-size: 20px;
        padding: 5px ;
        padding-left: 26px;
    
    
      }
      .main-cta-benefit-item::before {
        content: "";
        width: 18px;
        height: 18px;
        background-image: url("/images/bullet-checkmark-orange.svg");
        position: absolute;
        top:10px;
        left: 0px;
      }
    
      .money-highlighter {
        position: relative;
        display: inline-block;
      }
    
      .money-highlighter::after {
        content: "";
        width: 110%;
        height: 8px;
        left: -5%;
        bottom: -5px;
        position: absolute;
        border: solid 4px #FA744F;
        border-top: solid 0px #FA744F;
    
    
      }
    
      .cta-highlight {
        bottom: -1310%;
        left: -150%;
    }
    
  </style>