<footer class="main-footer h-screen flex items-center py-20">
    <div class="container">
      <div class="main-footer-content mx-auto flex items-center ">
        <div class="team-message-video" >
          <img style="" src="/images/team-message-video.png" alt="">
        </div>
        <nav class="footer-navigation ml-12">
          <div>       
            <img style="max-width: 190px;" src="/images/logo-black.svg" alt="">
            {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
            <ul class="mt-4">
            
              <li class="text-2xl mb-4"><a href="#">menutitle</a></li>
            
            </ul> 
            <a href="" class="text-lg font-bold underline mt-8 inline-block">En savoir plus sur creative circle premium</a>
            <p class="text-sm mt-8 inline-block">Copyright © Creative Circle</a>

          </div>
        </nav>
        
      </div>
      
    </div>
  </footer>