
<header class="bg-bluecc">
    <div class="container pt-12 pb-6 flex justify-between items-center">
      <div class="logo">
        <a href="/"><img src="/images/logo-white.svg" alt="Creative Circle white logo"></a>
        
      </div>
      <div class="main-menu">
          <div>       
            
            <ul class="nav flex ">
            
              <li class="nav-items text-white mr-6"><a href="#">Acceuil</a></li>
            
            </ul> 
          </div>
      </div>

    </div>
  </header>